.home-container {
  background-image: url('../images/marble1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #FAF3E0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%; 
  background-color: #4B5D2A; 
}
  .home-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #D4AF37; 
    font-weight: bold;
  }
  
  .home-text {
    font-size: 1.2rem;
    color: #FAF3E0; 
    margin-bottom: 1rem;
  }
  
  .auth-buttons {
    display: flex;
    flex-direction: column;
  }
  
  .button {
    background-color: #5A3921; 
    color: #D4AF37; 
    padding: 15px 30px;
    margin: 10px;
    border: 1px solid #D4AF37;
    text-decoration: none;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: #9E4624; 
  }
  
  @media (max-width: 768px) {
    .home-title {
      font-size: 1.5rem;
    }
    .home-text {
      font-size: 1rem;
    }
  }
  